@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    
}

.art{
    height: 400px;
}

@media (min-width: 768px) {
    #home{
        width: auto;
        background-image: url('/cover.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    } 
}

@media (min-width: 768px) {
    #timeline{
        width: auto;
        background-image: url('/timeline.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    } 
}



.panel{
    height: 100vh;
    position: sticky;
    top: 0;
}

.oval{
    position: absolute;
    right: 11rem;
    width: 420px;
    height: 200px;
    margin:90px 0 0 -90px;  
    -moz-border-radius: 200px / 100px;
    -webkit-border-radius: 200px / 100px;
    shape-outside: inset(20px 5px 30px 10px round 50px);
    border-radius: 200px / 100px;
}

html, body{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}


:root{
    --phone-size: 768px;
}



.slide {
    border-radius: 20px;
    min-width: 1280px;
    border-width: 1px;
}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    overflow-x: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

.section{
    padding-top: 6rem;
}