.nav{
    background-color: black;
    color: #Fff;
}

.hide{
    display: none !important;
}

/* desktop hd styles */
@media (min-width: 768px) and (max-width: 1280px) {
    .nav{
        display: block;
        width: 100%;
    }
    .hamburgerMenuBtn, .backgroud{
        display: none;
    }
}

/* more full hd styles */
@media (min-width: 1280px) {
    .nav{
        display: block;
        width: 100%;
    }
    .hamburgerMenuBtn{
        display: none;
    }
    
}

/* mobile first */
@media (max-width: 768px) {
    .nav{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        z-index: 1;
    }
    .hamburgerMenuBtn{
        display: block;
    }

    .backgroud{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0 ,0 , 0.2);
        border: 0;
        z-index: 0;

    }
}